<div id="headerwrap" style="max-height: 700px;;
    overflow: hidden;
    box-shadow: inset 0px -3px 30px rgba(0,0,0,.1);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br><br>
                <h1>Learn cool things and meet new people</h1>
                <h4>Our goal is to build a strong web development/design community at the University of Oregon, with members from all majors and academic disciplines.</h4>	
                <h3><b>NEXT MEETING: OCT 1st 6-7PM IN DESCHUTES 100</h3></b>
                <br>
                <a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a>
                <br><br>

            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!-- <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive"> -->
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->