<div id="blue" style="margin-bottom:0px; background:#3CC544; padding-top:0px; margin-top:70px; padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <h4 style="color:white">NEXT MEETING: Thursday, 1/7/16 @ 6PM, Deschutes 100. "Intro to Game Dev and Unity," by Shawn Slater</h4>
        </div><!-- /row -->
    </div> <!-- /container -->
</div>

<div id="headerwrap" style="max-height: 500px;;
    overflow: hidden;
    box-shadow: inset 0px -3px 30px rgba(0,0,0,.1);
    padding-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br><br>
                <h1>Learn cool things and meet new people!</h1>
                <h4>{{ site.about }}</h4>	
                <br>
                <a href="/welcome/" class="btn btn-theme">Sign In</a>
                <a href="{{ "/about/" | prepend: site.baseurl }}" class="btn btn-theme">More Info</a>


                <br><br>

            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/devclubicon.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
